<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <!-- <include resource="org/springframework/boot/logging/logback/file-appender.xml"
        /> -->

    <appender name="NORMAL_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/spring.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}/%d{MMddyyyy}/spring.log.%i.zip
            </fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="ACTION_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/action.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}/%d{MMddyyyy}/action.log.%i.zip
            </fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
</appender>

    <springProfile name="default,dev,test">
        <logger name="com.br" level="DEBUG" />
        <!-- <logger name="org.hibernate" level="TRACE" />
        <logger name="org.springframework.cache" level="TRACE" /> -->

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="NORMAL_FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.br" level="INFO" />
        <root level="INFO">
            <appender-ref ref="NORMAL_FILE" />
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>


</configuration>
